{:paths ["src"]
 :deps {io.dominic/ednup {:git/url "https://github.com/SevereOverfl0w/ednup.git"
                          :sha "87b2734303d815e6209495b9c6a6ee77aa17ab4b"}
        org.clojure/tools.gitlibs {:mvn/version "0.2.64"}}}
   
